:root {
  /* Colours */
  --color-text: rgba(255, 255, 255, 1);
  --color-primary: #9d4ccc;
  --color-secondary: #8339b3;
  --color-dark: #682699;
  --color-bg: #4e1380;

  /* Fonts */
  --font-roboto: "Roboto";
}
